<div [@routerTransition]>

  <app-page-header [heading]="'Profile'"></app-page-header>



  <div class="container-fluid mt-2" [@routerTransition]>


  </div>


  <div class="container-fluid mt-4">

    <form action="">
      <div class="card card-3 mb-5">
        <div class="card-body py-3">
          <h2>Basic Details</h2>


          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-4">
                <select class="form-select" id="floatingSelect"
                  aria-label="Floating label select example">
                  <option selected>392944- Grey Stone & Co.</option>
                  <option value="1">392944- Grey Stone & Co.</option>
                  <option value="2">392944- Grey Stone & Co.</option>
                  <option value="3">392944- Grey Stone & Co.</option>
                </select>
                <label for="floatingSelect">Client Group</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-floating mb-4">
                <select class="form-select" id="floatingSelect"
                  aria-label="Floating label select example">
                  <option selected>392944- Grey Stone & Co.</option>
                  <option value="1">392944- Grey Stone & Co.</option>
                  <option value="2">392944- Grey Stone & Co.</option>
                  <option value="3">392944- Grey Stone & Co.</option>
                </select>
                <label for="floatingSelect">Client </label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-floating mb-4">
                <select class="form-select" id="floatingSelect"
                  aria-label="Floating label select example">
                  <option selected>Option 1</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 1</option>
                  <option value="3">Option 1</option>
                </select>
                <label for="floatingSelect">Principal Attorney </label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-floating mb-4">
                <select class="form-select" id="floatingSelect"
                  aria-label="Floating label select example">
                  <option selected>Option 1</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 1</option>
                  <option value="3">Option 1</option>
                </select>
                <label for="floatingSelect">Katten Billing Manager </label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-floating mb-4">
                <select class="form-select" id="floatingSelect"
                  aria-label="Floating label select example">
                  <option selected>Option 1</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 1</option>
                  <option value="3">Option 1</option>
                </select>
                <label for="floatingSelect">Client Group </label>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="card card-3 mb-5">
        <div class="card-body py-3">

          <div class="d-flex align-items-center">
            <h2 class="me-4 mb-1">Client billing details</h2>
            <a href="#" class="link">Add billing contact</a>
          </div>

          <form action="">
            <div class="row">
              <div class="col-md-4">
                <div class="form-floating mb-4">
                  <input type="text" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                  <label for="floatingInput">First Name</label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-floating mb-4">
                  <input type="text" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                  <label for="floatingInput">Last Name</label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-floating mb-4">
                  <input type="text" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                  <label for="floatingInput">Phone</label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-floating mb-4">
                  <input type="Date" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                  <label for="floatingInput">Start Date</label>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-floating mb-4">
                  <input type="Date" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                  <label for="floatingInput">Expiration Date</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating mb-4">
                  <select class="form-select" id="floatingSelect"
                    aria-label="Floating label select example">
                    <option selected>Option 1</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 1</option>
                    <option value="3">Option 1</option>
                  </select>
                  <label for="floatingSelect">Katten Expiring Reminder Contacts
                  </label>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>

      <div class="card card-3 mb-5">
        <div class="card-body py-3">
          <div class="d-flex align-items-center">
            <h2 class="me-4 mb-1">Expiration reminder dates</h2>
            <a href="#" class="link">Add expiration reminder</a>
          </div>


          <form action="">
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-4">
                  <select class="form-select" id="floatingSelect"
                    aria-label="Floating label select example" multiple>
                    <option selected>Option 1</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 1</option>
                    <option value="3">Option 1</option>
                  </select>
                  <label for="floatingSelect">Reminder Date</label>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </form>
    <div class="col-md-3">
      <input type="submit" class="btn btn-primary btn-lg btn-boxed btn-block"
        value="Save Changes">
    </div>


  </div>

</div>
