<div [@routerTransition]>
    <app-page-header [previousHeading]="'SIC Codes'" [previousLink]="'sic-codes'" [heading]="'Add | Edit SIC Code'"></app-page-header>
    <div class="container-fluid mt-2" [@routerTransition]>
        <div class="card">
            <div class="card-header">
                SIC Code
            </div>
            <div class="card-body">
                <ng-container *ngIf="isLoading">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </ng-container>
                <form *ngIf="!isLoading" [formGroup]="addEditForm" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-2">
                                <label class="bmd-label-floating">Code *</label>
                                <input formControlName="code" type="text" class="form-control">
                                <div
                                    *ngIf="addEditForm.controls['code'].errors && (addEditForm.controls['code'].dirty || addEditForm.controls['code'].touched)">
                                    <span class=" text-danger error"
                                        *ngIf="addEditForm.controls['code'].errors?.required; else alphaNumericErrorCode">
                                        *Code No is required.
                                    </span>
                                    <ng-template #alphaNumericErrorCode>
                                        <span class=" text-danger error"
                                            *ngIf="addEditForm.controls['code'].errors?.alphaNumericError">
                                            *Only Apha Numeric is required.
                                        </span>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-2">
                                <label class="bmd-label-floating">Description *</label>
                                <input formControlName="description" type="text" class="form-control">
                                <div
                                    *ngIf="addEditForm.controls['description'].errors && (addEditForm.controls['description'].dirty || addEditForm.controls['description'].touched)">
                                    <span class=" text-danger error"
                                        *ngIf="addEditForm.controls['description'].errors?.required; else alphaNumericErrorDescription">
                                        *Description is required.
                                    </span>
                                    <ng-template #alphaNumericErrorDescription>
                                        <span class=" text-danger error"
                                            *ngIf="addEditForm.controls['description'].errors?.alphaNumericError">
                                            *Only Apha Numeric is required.
                                        </span>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2 py-2">
                        <button type="button" *ngIf="editForm" (click)="onUpdate()" class="btn btn-info">Update
                            SIC Code</button>
                        <button type="button" *ngIf="!editForm" (click)="onSubmit()" class="btn btn-info">Add
                            SIC Code</button>
                        <button type="button" routerLink="/data-management/sic-codes"
                            class="btn btn-secondary">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>