<nav class="navbar navbar-expand mb-4 shadow fixed-top nav-header">
    <a class="navbar-brand" href="#" *ngIf="userProfile != 'rateMiner'">
       <img src="assets/images/stori-logo.svg" width="140px" alt="">
    </a>
    <a class="navbar-brand" href="#" *ngIf="userProfile == 'rateMiner'">
        <img src="assets/images/rateminer-bg-w1.png" width="150px" alt="">
     </a>
    <button (click)="toggleSidebar()" class="navbar-toggler" type="button">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span class="hamburger"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto align-items-center d-none">            &nbsp;
        
            <!-- <li class="nav-item">
                <a
                    (click)="rltAndLtr()"
                    class="nav-link mt-1"
                    href="javascript:void(0)"
                    style="padding: 0.375rem 1rem !important; border-color: #999;"
                >
                    RTL/LTR
                </a>
            </li>
            &nbsp;
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <ul class="dropdown-menu-right messages" ngbDropdownMenu>
                    <li class="media">
                        <img
                            alt="Generic placeholder image"
                            class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                        />
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last">Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img
                            alt="Generic placeholder image"
                            class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                        />
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last">Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img
                            alt="Generic placeholder image"
                            class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                        />
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last">Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        {{ 'Pending Task' | translate }} <span class="badge badge-info">6</span>
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        {{ 'In queue' | translate }} <span class="badge badge-info"> 13</span>
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        {{ 'Mail' | translate }} <span class="badge badge-info"> 45</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)">
                        {{ 'View All' | translate }}
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a (click)="changeLang('en')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'English' | translate }}
                    </a>
                    <a (click)="changeLang('fr')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'French' | translate }}
                    </a>
                    <a (click)="changeLang('ur')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'Urdu' | translate }}
                    </a>
                    <a (click)="changeLang('es')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'Spanish' | translate }}
                    </a>
                    <a (click)="changeLang('it')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'Italian' | translate }}
                    </a>
                    <a (click)="changeLang('fa')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'Farsi' | translate }}
                    </a>
                    <a (click)="changeLang('de')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'German' | translate }}
                    </a>
                    <a (click)="changeLang('zh-CHS')" class="dropdown-item" href="javascript:void(0)">
                        {{ 'Simplified Chinese' | translate }}
                    </a>
                </div>
            </li> -->
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow profile-dropdown d-none" ngbDropdown>
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                href="javascript:void(0)" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline user-title">{{userData.name}}</span>
                <img class="img-profile rounded-circle" src="assets/images/undraw_profile.svg">
            </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown" ngbDropdownMenu>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="onLoggedout()">
                        <i class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
    
</nav>
