.table td {
    vertical-align: top !important;
    border: 1px solid #dedede!important;
}

.no-border td{
    border:0 !important;
    padding-left: 0 !important;
}
.no-border th{
    padding-left: 0 !important;
}