<div [@routerTransition]>
    <app-page-header [heading]="'TimeKeepers'"></app-page-header>
    <div class="container-fluid mt-2" [@routerTransition]>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row mb-2 search-header">
                        <div class="col-md-10 text-left mb-1 mb-md-0">
                            <div class="form-group mb-1">
                                <input type="text" type="text" name="searchTerm" [(ngModel)]="_state.searchTerm"
                                    (ngModelChange)="this.searchTermUpdate.next($event)" id="timeKeeperstaffs" class="form-control"
                                    placeholder="Search here...">
                            </div>
                        </div>
                        <!-- <div class="col-md-2 text-center">
                            <button type="button" routerLink="/timeKeepers/add-time-keeper" class="btn btn-primary">Add TimeKeeper</button>
                        </div> -->
                        <div class="col-md-2 text-center" *ngIf="!isLoading && _state.totalResults > 0">
                            <button type="button" (click)="downloadFileExcel()" class="btn btn-primary btn-block">Download</button>
                        </div>
                    </div>
                    <ng-container *ngIf="isLoading">
                        <div class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </ng-container>
                    <div *ngIf="!isTimeKeepers;else table">
                        <p class="text-center">No timekeeper found</p>
                    </div>
                    <ng-template #table>
                        <div *ngIf="!isLoading">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <!-- <th scope="col">#</th> -->
                                            <th scope="col" [oldColumn] = "_state.sortColumn" sortable="timekeeperId" (sort)="onSort($event)">ID</th>
                                            <th scope="col" [oldColumn] = "_state.sortColumn" sortable="name" (sort)="onSort($event)">Name</th>
                                            <th scope="col" [oldColumn] = "_state.sortColumn" sortable="timekeeperNumber" (sort)="onSort($event)">Number</th>
                                            <th scope="col" [oldColumn] = "_state.sortColumn" sortable="office" (sort)="onSort($event)">Office</th>
                                            <th scope="col" [oldColumn] = "_state.sortColumn" sortable="department" (sort)="onSort($event)">Department</th>
                                            <th scope="col" [oldColumn] = "_state.sortColumn" sortable="section" (sort)="onSort($event)">Section</th>
                                            <th scope="col" [oldColumn] = "_state.sortColumn" sortable="title" (sort)="onSort($event)">Title</th>
                                            <th scope="col" [oldColumn] = "_state.sortColumn" sortable="rateClass" (sort)="onSort($event)">Rate Class</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let timeKeeper of timeKeepers; index as i">
                                            <!-- <th>{{((_state.page-1) * _state.limit) + i+1}}</th> -->
                                            <td>{{timeKeeper?.timekeeperId}}</td>
                                            <td>{{timeKeeper?.name}}</td>
                                            <td>{{timeKeeper?.timekeeperNumber}}</td>
                                            <td>{{ timeKeeper?.office }}</td>
                                            <td>{{ timeKeeper?.department }}</td>
                                            <td>{{ timeKeeper?.section }}</td>
                                            <td>{{ timeKeeper?.title }}</td>
                                            <td>{{ timeKeeper?.rateClass }}</td>

                                            <!-- <td>{{timeKeeper?.displayName}}</td>
                                            <td>{{timeKeeper?.billName}}</td>
                                            <td>{{ timeKeeper?.details?.rownum }}</td>
                                            <td>{{ timeKeeper?.details?.TkprDateID }}</td>
                                            <td>{{ timeKeeper?.details?.TimekeeperLkUp }}</td>
                                            <td>{{ timeKeeper?.details?.EffStart | date:'medium' }}</td>
                                            
                                           
                                            <td>{{ timeKeeper?.details?.HireDate | date:'medium'}}</td>
                                            <td>{{ timeKeeper?.details?.TermDate | date:'medium'}}</td>
                                            
                                            <td>{{ timeKeeper?.details?.WorkCalendar }}</td>
                                            <td>{{ timeKeeper?.details?.NxUnit }}</td>
                                            <td>{{ timeKeeper?.details?.SupTkpr }}</td>
                                            <td>{{ timeKeeper?.details?.NxEndDate | date:'medium' }}</td>
                                            <td>{{ timeKeeper?.details?.NxStartDate | date:'medium' }}</td>
                                            <td>{{ timeKeeper?.details?.WorkType }}</td>
                                            <td>{{ timeKeeper?.details?.BillingCoordinator }}</td>
                                            <td>{{ timeKeeper?.details?.ArchetypeCode }}</td>
                                            <td>{{ timeKeeper?.details?.CurrProcItemID }}</td>
                                            <td>{{ timeKeeper?.details?.LastProcItemID }}</td>
                                            <td>{{ timeKeeper?.details?.OrigProcItemID }}</td>
                                            <td>{{ timeKeeper?.details?.HasAttachments }}</td>
                                            <td>{{ timeKeeper?.details?.TimeStamp | date:'medium' }}</td> -->
                                            
                                            <!-- <td>
                                                <label class="switch" *ngIf="timeKeeper.isActive">
                                                    <input type="checkbox" (click)="updateStatus(timeKeeper.id, timeKeeper.isActive)" checked>
                                                    <span class="slider round"></span>
                                                </label>
                                                <label class="switch" *ngIf="!timeKeeper.isActive">
                                                    <input type="checkbox" (click)="updateStatus(timeKeeper.id, timeKeeper.isActive)">
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="action-buttons"><button
                                                    (click)="editUser(timeKeeper.id)"><img
                                                        src="assets/images/pencil.svg"
                                                        alt=""></button></div>
                                            </td>
                                            <td>
                                                <div class="action-buttons">
                                                    <button (click)="deleteUser(timeKeeper.id)"><img
                                                            src="assets/images/icons8-trash-can.svg"
                                                            alt=""></button></div>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between p-2">
                                    <ngb-pagination [collectionSize]="_state.totalResults" [(page)]="_state.page" [pageSize]="_state.limit" [rotate]="true" [maxSize]="5" [boundaryLinks]="true"
                                        (pageChange)="refreshTimeKeepers()">
                                    </ngb-pagination>
                            
                                    <select class="custom-select" style="width: auto" [(ngModel)]="_state.limit" (ngModelChange)="refreshTimeKeepers()" [ngModelOptions]="{standalone: true}">
                                        <option [ngValue]="10">10 items per page</option>
                                        <option [ngValue]="20">20 items per page</option>
                                        <option [ngValue]="30">30 items per page</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </form>
            </div>
        </div>
                
      
    </div>  
</div>
  