
<!-- <app-page-header [heading]="'Matter Records'"></app-page-header> -->
<div class="container-fluid mt-2" [@routerTransition]>
    <div class="card">
        <div class="card-body">
            <form>
                <div class="row mb-2 search-header">
                    <div class="col-md-9 text-left mb-1 mb-md-0">
                        <div class="form-group mb-1">
                            <input type="text" type="text" name="searchTerm" [(ngModel)]="_state.searchTerm"
                                (ngModelChange)="this.searchTermUpdate.next($event)" id="searchstaffs"
                                class="form-control" placeholder="Search here...">
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="!isLoading && _state.totalResults > 0">
                        <button type="button" (click)="downloadFileExcel()"
                            class="btn btn-primary btn-block btn-download-button">Download</button>
                    </div>
                </div>
                <ng-container *ngIf="isLoading">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </ng-container>
                <div *ngIf="!isMatters;else table">
                    <p class="text-center">No Matter found</p>
                </div>
                <ng-template #table>
                    <div *ngIf="!isLoading">
                        <div class="table-responsive scroll-position">
                            <table class="table table-striped scroll-position-div">
                                <thead>
                                    <tr>
                                        <th scope="col" [oldColumn] = "_state.sortColumn" sortable="clientId" (sort)="onSort($event)">Client Group <span></span></th>
                                        <th scope="col" [oldColumn] = "_state.sortColumn" sortable="name" (sort)="onSort($event)">Group name <span></span></th>
                                        <th scope="col" [oldColumn] = "_state.sortColumn" sortable="clientNumber" (sort)="onSort($event)">Client Code <span></span></th>
                                        <th scope="col" [oldColumn] = "_state.sortColumn" sortable="name" (sort)="onSort($event)">Client Name <span></span></th>
                                        <th scope="col" [oldColumn] = "_state.sortColumn" sortable="name" (sort)="onSort($event)">Matter Name <span></span></th>
                                        <th scope="col" [oldColumn] = "_state.sortColumn" sortable="matterNumber" (sort)="onSort($event)">Client Matter <span></span></th>
                                        <th scope="col" [oldColumn] = "_state.sortColumn" sortable="status" (sort)="onSort($event)">Status <span></span></th>
                                        <th scope="col" [oldColumn] = "_state.sortColumn" sortable="openDate" (sort)="onSort($event)">Open Date <span></span></th>
                                        <th scope="col" [oldColumn] = "_state.sortColumn" sortable="closeDate" (sort)="onSort($event)">Close Date <span></span></th>
                                        <th scope="col" [oldColumn] = "_state.sortColumn" sortable="lastInvoiceDate" (sort)="onSort($event)">Last Bill Date <span></span></th>
                                        <th scope="col" [oldColumn] = "_state.sortColumn" sortable="postDate" (sort)="onSort($event)">Last Time Entry</th>
                                        <th scope="col" [oldColumn] = "_state.sortColumn" sortable="billTkprName" (sort)="onSort($event)">Billing Attorney <span></span></th>
                                        <th scope="col" [oldColumn] = "_state.sortColumn" sortable="rspTkprName" (sort)="onSort($event)">Responsible Attorney <span></span></th>
                                        <th scope="col">Client Rate Set</th>
                                        <th scope="col">Matter Rate Set</th>
                                        <th scope="col">Client Level Rates</th>
                                        <th scope="col">Matter Level Rates</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="isPaginationLoading">
                                    <tr>
                                        <td colspan="16">
                                            <div class="text-center">
                                                <div class="spinner-border" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!isPaginationLoading">
                                    <tr *ngFor="let matter of matters; index as i">
                                        <!-- <th scope="row">{{ i + 1 }}</th> -->
                                        <td>{{matter?.client?.clientGroup}}</td>
                                        <td>
                                            {{ matter.client?.clientGroupDetails?.name || matter.client.name }}
                                        </td>
                                        <td><a routerLink="/matters/client-id/{{matter?.clientId}}"
                                                role="link">{{matter?.client?.clientNumber}}</a></td>
                                        <td><a routerLink="/matters/client-id/{{matter?.clientId}}"
                                                role="link">{{matter?.client?.name}}</a>
                                        </td>
                                        <td><a routerLink="/matters/matter-id/{{matter?.matterId}}"
                                                role="link">{{matter?.name}}</a></td>
                                        <td><a routerLink="/matters/matter-id/{{matter?.matterId}}"
                                                role="link">{{matter?.matterNumber}}</a></td>
                                        <td>{{matter?.status}}</td>
                                        <td>{{matter?.openDate | date: 'MM/dd/YYYY': 'UTC'}}</td>
                                        <td>{{matter?.closeDate | date: 'MM/dd/YYYY': 'UTC'}}</td>
                                        <td>{{matter?.lastInvoiceDate | date: 'MM/dd/YYYY': 'UTC'}}</td>
                                        <td>{{matter?.timecard?.postDate | date: 'MM/dd/YYYY': 'UTC'}}</td>
                                        <td>{{matter?.billTkprName}}</td>
                                        <td>{{matter?.rspTkprName}}</td>
                                        <td class="pointer">
                                            <a (click)="openClientData(clientcontent, matter)">{{matter?.clientExceptionRate?.rateExcDescription | titlecase}}</a>
                                        </td>
                                        <td class="pointer">
                                            <a (click)="openMatterData(mattercontent, matter)">{{matter?.matterExceptionRate?.rateExcDescription | titlecase}}</a>
                                        </td>
                                        <td class="pointer" (click)="openMatterLevelClientData(clientLevelContent, matter.clientId)">
                                            <a>See Rates</a>
                                        </td>
                                        <td class="pointer" (click)="openMatterLevelMatterData(matterLevelContent, matter.matterNumber)">
                                            <a>See Rates</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [collectionSize]="_state.totalResults" [(page)]="_state.page"
                                [pageSize]="_state.limit" [rotate]="true" [maxSize]="5" [boundaryLinks]="true"
                                (pageChange)="refreshMatters()">
                            </ngb-pagination>

                            <select class="custom-select" style="width: auto" [(ngModel)]="_state.limit"
                                (ngModelChange)="refreshMatters()" [ngModelOptions]="{standalone: true}">
                                <option [ngValue]="10">10 items per page</option>
                                <option [ngValue]="20">20 items per page</option>
                                <option [ngValue]="30">30 items per page</option>
                            </select>
                        </div>
                    </div>
                </ng-template>
            </form>
        </div>
        <app-matter-filter (matterRecords)="handleResults($event)" [actionparam]="[]">
        </app-matter-filter>
    </div>
</div>
<ng-template #clientcontent let-modal>
    <div class="modal-header">
        <p class="modal-title" id="modal-basic-title">Client Rate Set</p>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="isClientContentLoading">
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-container>
        <table class="table table-bordered table-hover mb-5 mt-2" *ngIf="clientExceptionData">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Office</th>
                    <th>Currency</th>
                    <th>Worked Rate</th>
                    <th>Standard Rate</th>
                    <th>Discount Percentage Difference</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of clientExceptionData.timecards">
                    <td>{{ clientExceptionData?.matter?.rspTkprNumber }}</td>
                    <td>{{ clientExceptionData?.matter?.rspTkprName }}</td>
                    <td>{{ clientExceptionData?.matter?.status }}</td>
                    <td>{{ item?.office }}</td>
                    <td>{{ clientExceptionData?.matter?.currency }}</td>
                    <td>{{ item?.workRate }}</td>
                    <td>{{ item?.stdRate }}</td>
                    <td>{{ ((item?.stdRate - item?.workRate) / item?.stdRate) * 100 | number: '1.2-2' }}%</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!clientExceptionData">
            <p class="text-center">No record found</p>
        </div>
    </div>
</ng-template>
<ng-template #mattercontent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Matter Rate Set</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="isMatterContentLoading">
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-container>
        <table class="table table-bordered table-hover mb-5 mt-2" *ngIf="matterExceptionData.timecards.length">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Office</th>
                    <th>Currency</th>
                    <th>Worked Rate</th>
                    <th>Standard Rate</th>
                    <th>Discount Percentage Difference</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of matterExceptionData.timecards">
                    <td>{{ matterExceptionData?.matter?.rspTkprNumber }}</td>
                    <td>{{ matterExceptionData?.matter?.rspTkprName }}</td>
                    <td>{{ matterExceptionData?.matter?.status }}</td>
                    <td>{{ item?.office }}</td>
                    <td>{{ matterExceptionData?.matter?.currency }}</td>
                    <td>{{ item?.workRate }}</td>
                    <td>{{ item?.stdRate }}</td>
                    <td>{{ ((item?.stdRate - item?.workRate) / item?.stdRate) * 100 | number: '1.2-2' }}%</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!matterExceptionData.timecards.length">
            <p class="text-center">No record found</p>
        </div>
    </div>
</ng-template>
<ng-template #matterLevelContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Matter Level Rates</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered" *ngIf="matterLevelExceptionData.length">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Office</th>
                    <th>Currency</th>
                    <th>Worked Rate</th>
                    <th>Standard Rate</th>
                    <th>Discount Percentage Difference</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of matterLevelExceptionData">
                    <td>{{ item?.matter?.rspTkprNumber }}</td>
                    <td>{{ item?.matter?.rspTkprName }}</td>
                    <td>{{ item?.matter?.status }}</td>
                    <td>{{ item?.office?.description }}</td>
                    <td>{{ item?.matter?.currency }}</td>
                    <td>{{ item?.workRate }}</td>
                    <td>{{ item?.stdRate }}</td>
                    <td>{{ ((item?.stdRate - item?.workRate) / item?.stdRate) * 100 | number: '1.2-2' }}%</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!matterLevelExceptionData.length">
            <p class="text-center">No records found</p>
        </div>
    </div>
</ng-template>
<ng-template #clientLevelContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Client Level Rates</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered" *ngIf="clientLevelExceptionData.length">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Office</th>
                    <th>Currency</th>
                    <th>Worked Rate</th>
                    <th>Standard Rate</th>
                    <th>Discount Percentage Difference</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of clientLevelExceptionData">
                    <td>{{ item?.matter?.rspTkprNumber }}</td>
                    <td>{{ item?.matter?.rspTkprName }}</td>
                    <td>{{ item?.matter?.status }}</td>
                    <td>{{ item?.office?.description }}</td>
                    <td>{{ item?.matter?.currency }}</td>
                    <td>{{ item?.workRate }}</td>
                    <td>{{ item?.stdRate }}</td>
                    <td>{{ ((item?.stdRate - item?.workRate) / item?.stdRate) * 100 | number: '1.2-2' }}%</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!clientLevelExceptionData.length">
            <p class="text-center">No records found</p>
        </div>
    </div>
</ng-template>
