.admin-logo {
    width: 4rem;
    height: auto;
}
.form-group {
    margin-bottom: 1rem;
}

form.user .form-control-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

form.user .custom-checkbox.small label {
    line-height: 1.5rem;
}

.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.custom-control-label::after {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: 50%/50% 50% no-repeat;
}

form.user .custom-checkbox.small label {
    line-height: 1.5rem;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

form.user .btn-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
}
.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}

.card.o-hidden.border-0.shadow-lg.my-5 {
    margin-top: 6rem !important;
}