<div [@routerTransition] class="login-page">
    <div class="login-container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="p-5">
                            <div class="text-center">
                                <img class="admin-logo" src="assets/images/rate-dark.svg">
                                <h1 class="h4 text-gray-900 mb-2">Rate Management | Admin</h1>
                                <h3 class="h4 text-gray-400 mb-4">Reset Password</h3>
                            </div>
                            <form class="user" [formGroup]="resetPassword" novalidate
                                role="form" (keydown.enter)="resetPasswordSubmit()">
                                <div class="form-group">
                                    <input [ngClass]="
                                        resetPassword.controls['email'].errors &&
                                        (resetPassword.controls['email'].dirty ||
                                        resetPassword.controls['email'].touched ||
                                        FormSubmitted)
                                        ? 'form-control py-4 is-invalid'
                                        : 'form-control py-4'
                                        " formControlName="email"
                                        id="inputEmailAddress" type="email" email
                                        placeholder="Enter email">
                                    <div style="text-align: left" *ngIf="
                                    resetPassword.controls['email'].errors &&
                                        (resetPassword.controls['email'].dirty ||
                                        resetPassword.controls['email'].touched ||
                                        FormSubmitted)
                                        ">
                                        <span class="text-danger error"
                                            *ngIf="resetPassword.controls['email'].errors?.required">
                                            * Email is required.
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input [ngClass]="
                                        resetPassword.controls['password'].errors &&
                                        (resetPassword.controls['password'].dirty ||
                                        resetPassword.controls['password'].touched ||
                                        FormSubmitted)
                                        ? 'form-control py-4 is-invalid'
                                        : 'form-control py-4'
                                        " formControlName="password"
                                        class="form-control py-4" id="inputPassword"
                                        type="password" placeholder="Enter password">
                                        <div style="text-align: left" *ngIf="
                                            resetPassword.controls['password'].errors &&
                                            (resetPassword.controls['password'].dirty ||
                                                resetPassword.controls['password'].touched ||
                                                FormSubmitted)
                                        ">
                                        <span class="text-danger error"
                                            *ngIf="resetPassword.controls['password'].errors?.required">
                                            * Password is required.
                                        </span>
                                    </div>
                                </div> 
                                <div class="text-center" *ngIf="disableSubmit == true">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <div *ngIf="disableSubmit == false">
                                    <a (click)="resetPasswordSubmit()" class="btn
                                    btn-primary btn-user btn-block">
                                        Reset Password
                                    </a>
                                </div>
                            </form>
                            <hr>
                            <div class="text-center mb-2">
                                <a class="link" routerLink="/auth/login" role="link" tabindex="0">Login?</a>
                            </div>
                            <ngb-alert *ngIf="errorMsg" type="danger">{{ errorMsg }}</ngb-alert>
                            <ngb-alert *ngIf="successMsg" type="success">{{ successMsg }}</ngb-alert>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
