<div [@routerTransition] *ngIf="editForm">
    <app-page-header [heading]="'Add | Edit Practice Group'"></app-page-header>
    <div class="container-fluid mt-2" [@routerTransition]>
        <div class="card">
            <div class="card-header">
                Practice Group
            </div>
            <div class="card-body">
                <ng-container *ngIf="isLoading">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>x
                </ng-container>
                <form *ngIf="!isLoading" [formGroup]="addEditForm" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-2">
                                <label class="bmd-label-floating mb-2">Name *</label>
                                <input formControlName="name" type="text" class="form-control">
                                <div
                                    *ngIf="addEditForm.controls['name'].errors && (addEditForm.controls['name'].dirty || addEditForm.controls['name'].touched)">
                                    <span class=" text-danger error"
                                        *ngIf="addEditForm.controls['name'].errors?.required">
                                        * Name is required.
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-2">
                                <label class="bmd-label-floating mb-2">Area Of Law *</label>
                                <select formControlName="areaOfLawId" class="form-control" multiple size="10" >
                                    <option *ngFor="let areaOfLaw of areaOfLaws; let i = index;" [value]="areaOfLaw.id">
                                        {{areaOfLaw.name}} - {{areaOfLaw.aol_code}}
                                    </option>
                                </select>
                                <div
                                    *ngIf="addEditForm.controls['areaOfLawId'].errors && (addEditForm.controls['areaOfLawId'].dirty || addEditForm.controls['name'].touched)">
                                    <span class=" text-danger error"
                                        *ngIf="addEditForm.controls['areaOfLawId'].errors?.required">
                                        * Area Of Law is required.
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <button type="button" *ngIf="editForm" (click)="onUpdate()" class="btn btn-info">Update
                                Practice Group</button>
                            <button type="button" *ngIf="!editForm" (click)="onSubmit()" class="btn btn-info">Add
                                Practice Group</button>
                            <button type="button" routerLink="/data-mangement/practice-groups"
                                class="btn btn-secondary">Cancel</button>
                        </div>

                    </div>
                    <div class="form-group mb-2 py-2 text-right">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card" *ngIf="!editForm">
    <div class="card-header">
        Practice Group
    </div>
    <div class="card-body">
        <ng-container *ngIf="isLoading">
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-container>
        <form *ngIf="!isLoading" [formGroup]="addEditForm" novalidate>
     
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="form-group mb-2">
                                <label class="bmd-label-floating mb-2">Title *</label>
                                <input formControlName="name" type="text" class="form-control">
                                <div
                                    *ngIf="addEditForm.controls['name'].errors && (addEditForm.controls['name'].dirty || addEditForm.controls['name'].touched)">
                                    <span class=" text-danger error"
                                        *ngIf="addEditForm.controls['name'].errors?.required">
                                        * Name is required.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-2">
                                <label class="bmd-label-floating mb-2">Area Of Law *</label>
                                <select formControlName="areaOfLawId" class="form-control" multiple>
                                    <option *ngFor="let areaOfLaw of areaOfLaws; let i = index;" [value]="areaOfLaw.id">
                                        {{areaOfLaw.name}} - {{areaOfLaw.aol_code}}
                                    </option>
                                </select>
                                <div
                                    *ngIf="addEditForm.controls['areaOfLawId'].errors && (addEditForm.controls['areaOfLawId'].dirty || addEditForm.controls['name'].touched)">
                                    <span class=" text-danger error"
                                        *ngIf="addEditForm.controls['areaOfLawId'].errors?.required">
                                        * Area Of Law is required.
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <button type="button" *ngIf="editForm" (click)="onUpdate()" class="btn btn-info">Update
                                Practice Group</button>
                            <button type="button" *ngIf="!editForm" (click)="onSubmit()" class="btn btn-info">Add
                                Practice Group</button>
                            <button type="button" (click)="cancelEvent()"
                                class="btn btn-outline-secondary">Cancel</button>
                        </div>
                    </div>


             

        </form>
    </div>
</div>