.form-group {
    margin-bottom: 10px !important;
    label {
        font-size: 18px;
        font-weight: 400;
        margin: 10px;
    }
} 

.container {
    padding: 10px;
    border: 2px solid #f2f2f2;
}