.form-group {
  margin-bottom: 8px;
}

label {
  margin: 2px;
  font-size: 14px;
  font-weight: 600;
}

h4 {
  font-weight: 500;
}

.card-body {
  padding: 20px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(83, 82, 82);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(83, 82, 82);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(83, 82, 82);
}

span.input-group-text {
  padding: 0.7rem 1rem;
}

.display-flex {
  display: flex;
}

.display-flex .btn {
  height: 3rem;
  position: relative;
  top: 20px;
}

.review-item {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px !important;

  label {
    font-weight: 500 !important;
  }
}

.modal-body {
  height: 400px;
  overflow: auto;
}

.flex-container {
  display: flex;
}

.flex-container>div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
}

.cross-icon {
  text-align: right;
  cursor: pointer;
}

a {
  cursor: pointer;
}

// .form-control {
//   font-size: 14px;
// }

.form-group {
  margin-bottom: 10px !important;
}

.input-group-sm,
.input-group-sm .input-group-text {
  height: calc(1.5em + 0.75rem + 0px);
  /* Match Bootstrap small input height */
  // padding: 0.25rem 0.5rem;
  /* Adjust if necessary */
  font-size: 0.875rem;
  /* Match Bootstrap small text size */
}

.form-group > input, .form-group > select, .form-check > input {
  border-color: #1a1a1a7d;
  border-width: 1px;
}

